body {
    margin: 0;
    overflow: hidden;
}

a {
    color:"white";
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 5% 1fr;
    grid-template-columns: 100%;
}

#main {
    position: relative;
    width: 100%;
    height: 100%;
}

#bar {
    position: relative;
    background-color: rgb(27, 100, 100);
    color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 3% 10% 1fr;
}

#logoBox {
    position: relative;
    height: 100%;
    aspect-ratio: 1;/*altezza = lunghezza*/
    justify-self: center;/*si mette al centro*/
}

#title {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;/*mette al centro quello che ha dentro horizontal*/
    align-items: center;
    font-size: 3vh;
}

#barBox {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 75% 25%;
    
}

#staticLink {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 2.5vh;
   
}

#schooLink {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#schoolButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vh;
    font-size: 2.5vh;
    background-color: rgb(30, 146, 127);
}

#teamButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vh;
    font-size: 2.5vh;
    background-color: rgb(30, 146, 127);
}