body {
    margin: 0;
    overflow: hidden;
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(100px, 8%) min-content 1fr;
    overflow: auto;
}

#topBar {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    display: grid;
    grid-template-columns: auto 1fr;
}

#barTitle {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    color: #00c2d0;
    font-family: "Alexandria", sans-serif;
    font-size: 3vw;
}

#imgTitleBox {
    position: absolute;
    width: 100%;
    aspect-ratio: calc(3008 / 915);
    top: minmax(100px, 8%);
    z-index: 1;
    color: #fff;
    display: grid;
    grid-template-rows: 67% 33%;
    font-family: "Alexandria", sans-serif;
}

#imgTitle {
    font-size: 10vw;
    text-shadow: .6vw .6vw 2px #a5a5a5;
    display: flex;
    justify-content: center;
    align-items: end;
}

#imgSubtitle {
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: -2vw;
    text-shadow: .3vw .3vw 2px #a5a5a5;
}

.img {
    width: 100%;
    height: auto;
}